/* //////// header (Lisa Van Pamel, Uitloggen, ...) //////// */
header {
    padding-top: 70px; /*80*/
    max-width: 410px;
    margin: 0px auto; 
}
/* */

/* //////// container //////// */
#afmeting {
    max-width: 410px;
    height: 510px; /*494*/
    margin: 0px auto;
    background-color: #fff;
    /* ANDERS SPATIE TUSSEN HEADER EN CONTAINER */
    padding-top: 1px;
}
/* */

/* //////// container registreren & aanmelden //////// */
#container {
    max-width: 410px;
    height: 690px; /*550 px*/
    margin: 0px auto;

    /*padding-top: 170px; /* 250px */
    margin-top: 80px;

    background-color: #fff;
    box-shadow:  10px  10px  10px  1px #1F3F6D;
}
/* */

html {
    background-color: #234E85 /*#E3E3E*/
}

body{
    font-family: 'Lato', sans-serif;
}

/* foutmeldingen */
.error {
    max-width: 410px;
    margin: 0px auto; 
}

.error p {
    border: 2px solid #F5A8AD;
    background-color: #FAD2D4;
    color: #E20613;
    border-radius: 4px;
    margin: 0px 50px 30px 40px;
    font-size: 0.9em;
    padding: 18px 15px;
}
/* */


/* //////// inloggen.php //////// */
.inloggen {
    /* anders tegen bovenkant */
    padding-top: 170px; /* 190px */

    background-image:url(../images/achtergrond.png);
    height: 550px;
    background-position: 0px 485px;
    background-repeat: no-repeat;
}

/* knop AANMELDEN bovenaan */
.aanmeldNav {
    background-color: #fff;
    border: none;
    margin-left: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 1.1em;
    color: #02C7C0;
    border-bottom: 5px solid #02C7C0;
    padding-bottom: 7px;
}
/* knop REGISTREREN bovenaan */
.registreerNav {
    background-color: #fff;
    border: none;
    margin-right: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 1.1em;
    float: right;
    padding-bottom: 7px;
    color: #868686;
}

/* opmaak tekstvelden + knop */
.formulier, .knop {
    margin-left: 40px;
    width: 300px;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 30px;
    border: none;
    background-color: #F5F5F5;
    padding-left: 20px;
}

/* knop apart kleur geven */
.knop {
    width: 320px;
    background-color: #02C7C0;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.knop:hover {
    background-color: #7056CB;
}

.wachtwoordver {
    color: #02C7C0;
    margin-left: 40px;
    font-size: 0.9em;
    text-decoration: none;
}

.geenAccount {
    color: #868686;
    text-align: center;
    font-size: 0.9em;
    text-decoration: none;
    padding-top: 20px;
}

.registreerlink, .inloglink {
    font-size: 0.9em;
    text-decoration: none;
    color: #02C7C0;
}
/* //////// einde inloggen.php //////// */


/* //////// registreren.php //////// */
/* knop AANMELDEN bovenaan */
.aanmeldNav2 {
    background-color: #fff;
    border: none;
    margin-left: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 1.1em;
    padding-bottom: 7px;
    color: #868686;
}
/* knop REGISTREREN bovenaan */
.registreerNav2 {
    background-color: #fff;
    border: none;
    margin-right: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 1.1em;
    color: #02C7C0;
    border-bottom: 5px solid #02C7C0;
    padding-bottom: 7px;
    float: right;
}
/* //////// einde registreren.php //////// */


/* //////// header.php //////// */
.profiel {
    background-image:url(../images/header.png);
    height: 180px;
    background-position: -30px -10px;
    background-repeat: no-repeat;
    /* naam mooi centreren met profielfoto*/
    padding-top: 5px;
}

.profiel img {
    border-radius: 30px;
    float: left;
    margin-left: 40px;
    margin-top: 16px;
    margin-right: 15px;
}

.naam {
    font-size: 0.9em;
    color: #fff;
    line-height: 1.4em;
}

#uitloggen {
    float: left;
    font-size: 0.8em;
    color: #4832F1;
    text-decoration: none;
}
/* //////// einde header.php //////// */


/* //////// index.php //////// */
.h1 h1 {
    /*padding-top: 23px;*/
    margin-left: 70px;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #02C7C0;
}

/* button nieuwe lijst toevoegen */
.knopLijst {
    padding-top: 20px;
}

.knopLijst a {
    font-size: 0.9em;
    background-color: #02C7C0;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;

    text-decoration: none;
    border-radius: 30px;
    padding: 12px 113px;
    margin-left: 45px;
}

/* plusje in button */
.knopLijst img {
    padding-left: 130px;
    padding-top: 3px;
    float: left;
    position: absolute;
}
/* //////// einde index.php //////// */


/* //////// nieuweLijst.php //////// */
/* button om lijst aan te maken */
.nieuweLijst {
    margin-left: 40px;
    width: 320px;
    height: 35px;
    border-radius: 30px;
    border: none;
    background-color: #02C7C0;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.nieuweLijst:hover {
    background-color: #7056CB;
}
/* //////// einde nieuweLijst.php //////// */


/* //////// klasse Lijst.php //////// */
/* lijsten */
.lijsten {
    margin-left: 40px;
    width: 300px;
    height: 60px; /*35*/
    margin-bottom: 20px;
    border-radius: 30px;
    background-color: #F6F9FB;
    padding-left: 20px;
    border: 2px solid #69EAC5;

    /* is nodig om in het midden te plaatsen */
    max-width: 410px;
    margin: 20px auto;
}

.lijsten img {
    border-radius: 30px;
    float: left;
    margin-top: 12px;
    margin-right: 15px;
    border: 2px solid #69EAC5;
}

/* vulbakje: verwijderen */
.lijsten .verwijder {
    border-radius: none;
    float: right;
    margin-top: -35px;
    margin-right: 20px;
    border: none;
}

/* titels lijsten (php, vakantie, ...) */
.lijst {
    margin-top: 20px;
    font-size: 0.9em;
    color: #4832F1;
    text-transform: uppercase;
    font-weight: bold;
}
/* //////// einde klasse Lijst.php //////// */


/* //////// alleTakenPerLijst.php //////// */
.h2 h2 {
    margin-left: 45px;
    /* text-transform: uppercase; */
    font-size: 1.1em;
    color: #3C3C3B;
}

.h1 h1 {
    margin-left: 45px;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #02C7C0;
}



.terugKnop {
    padding-top: 20px;
}

.knopTer {
    color: #02C7C0;
    margin-left: 40px;
    font-size: 0.9em;
    text-decoration: none;
}


/* //////// nieuweTaak.php //////// */
.h1T h1 {
    /*padding-top: 23px;*/
    margin-left: 45px;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #02C7C0;
}

/* button om taak aan te maken */
.nieuweTaak {
    margin-left: 40px;
    width: 320px;
    height: 35px;
    border-radius: 30px;
    border: none;
    background-color: #02C7C0;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

/* plusje in button */
.formuliergroep img {
    padding-left: 130px;
    padding-top: 10px;
    float: left;
    position: absolute;
}
/* //////// einde nieuweTaak.php //////// */


/* //////// taken.php //////// */
.takenPerLijst {
    width: 300px;
    /*height: 60px; /*35*/
    margin-bottom: 20px;
    /*padding: 5px 0px;*/
    padding-bottom: 8px;

    /* is nodig om in het midden te plaatsen */
    max-width: 410px;
    margin: 20px auto;
    border-bottom: 2px solid #F0EEED;
}

.checkbox {
    height: 25px;
    width: 25px;
    border: 3px solid #69EAC5;
    border-radius: 30px;
    float: left;
    margin-top: 30px; /*8*/
    margin-right: 15px;
}

/* lijn onder tekst weg */
.takenPerLijst a {
   text-decoration: none;
}
/* titel van taak */
.taakN {
    margin-top: 20px;
    font-size: 1.1em;
    color: #4832F1;
    font-weight: bold;
    margin: 0px 0px 5px 55px;
}
/* ondertitel */
.datum {
    color: #3C3C3B;
    font-size: 0.9em;
    padding-top: 0px;

    margin: 0px;

    padding-bottom: 5px;
    margin-left: 55px;
}

.takenPerLijst .verwijder {
    float: right;
    margin-top: -55px; /*28*/
}
/* //////// einde taken.php //////// */


/* //////// taakDetail.php //////// */
textarea {
    width: 300px;
    margin-left: 45px;
    margin-bottom: 10px;
}
/* //////// einde taakDetail.php //////// */










/* test als taak gedaan is */
.takenPerLijstT {
    width: 300px;
    height: 60px; /*35*/
    margin-bottom: 20px;

    /* is nodig om in het midden te plaatsen */
    max-width: 410px;
    margin: 20px auto;
    border-bottom: 2px solid #F0EEED;
}

.checkbox2 {
    height: 25px;
    width: 25px;
    background-color: #69EAC5;
    border: 3px solid #69EAC5;
    border-radius: 30px;
    float: left;
    margin-top: 8px; /*12*/
    margin-right: 15px;
}

/* titel van taak */
.taakNt {
    margin-top: 20px;
    font-size: 1.1em;
    color: #4832F1;
    font-weight: bold;
    margin: 0px 0px 5px 0px;

    Text-decoration: line-through;
}
/* ondertitel */
.datumt {
    color: #3C3C3B;
    font-size: 0.9em;
    padding-top: 0px;

    margin: 0px;

    Text-decoration: line-through;
}

.takenPerLijstT .verwijder {
    float: right;
    margin-top: -28px;
}

