#container {
    max-width: 410px;
    margin: 0px auto;
    /*border: 2px solid bisque*/

    /* moet nog weg na invoegin logo */
    padding-top: 170px; /* 250px */
    margin-top: 80px;

    background-color: #fff;

}

html {
    background-color: #E3E3E3;
}

body{
    font-family: 'Lato', sans-serif;
}

.error p {
    border: 2px solid #F5A8AD;
    background-color: #FAD2D4;
    color: #E20613;
    border-radius: 4px;
    margin: 0px 50px 30px 40px;
    font-size: 0.9em;
    padding: 18px 15px;
}

/* ////////////// inloggen ////////////// */
.inloggen {
    background-image:url(../images/achtergrond.png);
    height: 550px; /* 430px */
    background-position: 0px 344px; /* 0px 224px */
    background-repeat: no-repeat;
}

.formulier, .knop {
    margin-left: 40px;
    width: 300px;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 30px;
    border: none;
    background-color: #F5F5F5;
    padding-left: 20px;
}

.knop {
    width: 320px;
    background-color: #02C7C0;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.knop:hover {
    background-color: #7056CB;
}

.inloggen form input[value="Aanmelden"]{
    background-color: #fff;
    border: none;
    margin-left: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 1.1em;
    color: #02C7C0;
    border-bottom: 5px solid #02C7C0;
    padding-bottom: 7px;
}

.inloggen form input[value="Registreren"]{
    background-color: #fff;
    border: none;
    margin-right: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 1.1em;
    float: right;
    padding-bottom: 7px;
    color: #868686;
}

.wachtwoordver {
    color: #02C7C0;
    margin-left: 40px;
    font-size: 0.9em;
    text-decoration: none;
}

.geenAccount {
    color: #868686;
    text-align: center;
    font-size: 0.9em;
    text-decoration: none;
    padding-top: 20px;
}

.registreerlink, .inloglink {
    font-size: 0.9em;
    text-decoration: none;
    color: #02C7C0;
}

/*.inloggen form input[value="Registreren"]:hover{  
    color:  #7056CB;
}*/
/* ////////////// einde inloggen ////////////// */

/* ////////////// registreren ////////////// */ 